@import url('./styles/content-card.css');
@import url('./styles/content-details.css');
@import url('./styles/loading.css');

dialog:focus-visible {
  outline: none;
}

dialog > button {
  position: absolute;
  font-size: 26px;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

dialog > button:hover {
  opacity: 0.8;
}

dialog > button:active {
  opacity: 1;
}

dialog > button:focus-visible {
  outline: none;
}
