body.loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.662);
  }
  
  body.loading #loader {
    position: absolute;
    display: block;
    font-size: 100px;
    top: 35%;
    left: calc(50% - 100px);
  }
  
  dialog.loading > span {
    display: block;
    position: absolute;
    top: 30%;
    left: 36%;
    font-size: 100px;
    line-height: 0;
  }
  
  dialog.loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  